{% extends 'base.html' %}
{% block header %}
<div align="center">
    <div class="container">
        <div class="jumbotron">
            <h1>{% block title %}Serial Mouse Clicker{% endblock %}</h1>      
            <p>This mouse clicker allows you to add actions and run those actions sequentially.</p>
        </div>    
    </div>
</div>
{% endblock %}

{% block content %}
<!-- <div class="container">
    <div class="row">
        <div class="col">
            <div class="selectionAction">
            <form>
                <select name="actions" id="actions" class="custom-select mb-3">
                    <option selected disabled>Select Actions</option>
                    <option value="mouse">Click Mouse</option>
                    <option value="key">Press Key</option>
                </select>
            </form>
        </div>
        </div>
        <div class="col">
            <form>
                <select name="target" id="target-mouse" class="custom-select mb-3">
                    <option selected disabled>Choose action on the left</option>
                </select>
            </form>
            <input style="display:none;" name="target" id="target-key" type="text" class="form-control" placeholder="Key to be press">
        </div>
        <div class="col">
            <form>
                <select name="repeat" id="repeat" class="custom-select mb-3">
                    <option selected disabled>Select Actions</option>
                    <option value="mouse">Click Mouse</option>
                    <option value="key">Press Key</option>
                </select>
            </form>
        </div>
        <div class="col">
            <form>
                <select name="holding" id="holding" class="custom-select mb-3">
                    <option selected disabled>Select Actions</option>
                    <option value="mouse">Click Mouse</option>
                    <option value="key">Press Key</option>
                </select>
            </form>
        </div>
</div> -->
<div id="message">
    <div style="padding: 5px;">
        <div id="saved-msg" class="alert alert-success alert-dismissible" style="display: none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> Actions saved. Ready to start.
        </div>
        <div id="error-fill-msg" class="alert alert-danger alert-dismissible" style="display: none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> Please fill all options before saving actions.</strong>
        </div>
    </div>
</div>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-centered">
            <button type="button" class="btn btn-info add-new mb-3" data-toggle="tooltip" title="Add new action" id="btn-new-act"><i class="fa fa-plus"></i> Add New Action</button>
            <button type="button" class="btn btn-success save-act mb-3" data-toggle="tooltip" title="Save all actions" id="btn-save-act"><i class="fa fa-plus"></i> Save Actions</button>
            <a href="{{ url_for('actions.run_action') }}" class="btn btn-primary run-act mb-3 disabled" data-toggle="tooltip" title="Run actions" id="btn-run-act" role="button">Run Actions</a>
            <a href="{{ url_for('actions.stop_running') }}" class="btn btn-danger stop-act mb-3 disabled" data-toggle="tooltip" title="Stop running" id="btn-stop-run" role="button">Stop Running</a>
        </div>
    </div>
    <div class="row">
    <div class="col-md-8 col-centered">
    <form action="www.google.com" method = "POST" id="actionform">
        <table class="table table-striped" id = "actionTable">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Action On</th>
                    <th>Holding</th>
                    <th>Hold for(s)</th>
                    <th>Breaktime</th>
                    <th>Repeat(times)</th>
                    <th>Delete Action</th>
                </tr>
            </thead>
        </table>
    </form>
    </div>
    </div>
</div>
</div>  
{% endblock %}

{% block script %}
<script>

function disable_duration(dom){
    var $duration = dom.parents('tr:first').find("input[id='duration']");
    $duration.val("0");
    $duration.attr("disabled", true);
}

function enable_duration(dom){
    var $duration = dom.parents('tr:first').find("input[id='duration']");
    $duration.val("");
    $duration.attr("disabled", false);
}

function disable_holding(dom){
    var $hold = dom.parents('tr:first').find("select[id='holding']");
    $hold.val("No");
    $hold.attr("disabled", true);
}

function enable_holding(dom){
    var $hold = dom.parents('tr:first').find("select[id='holding']");
    $hold.val("Yes");
    $hold.attr("disabled", false);
}

function storeTable()
{
    var TableData = new Array();

    $('#actionTable tr').each(function(row, tr){
        var $act = $(tr).find('#actions');
        TableData[row]={
            "action" : $(tr).find('#actions').val()
            , "actionOn" :$(tr).find('#target').val()
            , "holding" : $(tr).find('#holding').val()
            , "duration" : $(tr).find('#duration').val()
            , "breaktime" : $(tr).find('#breaktime').val()
            , "repeat" : $(tr).find('#repeat').val()
        }
    }); 
    TableData.shift(); // first row is the table header - so remove
    console.log(TableData);
    return TableData;
}

$(document).ready(function(){
    //$('[data-toggle="tooltip"]').tooltip();
    // Append table with add row form on add new button click
    $(".add-new").click(function(){
        var index = $("table tbody tr:last-child").index();
        var row =   
                '<tr>' +     
                    '<td class="ActionRow">' +
                        '<form>' + 
                            '<select name="actions" id="actions" class="form-control mb-3">' +
                                '<option selected disabled>Select Actions</option>' + 
                                '<option value="mouse">Click Mouse</option>' +
                                '<option value="mouse_scroll">Scroll Mouse</option>' +
                                '<option value="key">Press Key</option>' +
                            '</select>' +
                        '</form>' +
                    '</td>' +
                    '<td>' +
                        '<form>' +
                            '<select name="target" id="target" class="form-control mb-3">' +
                                '<option selected disabled>Choose action on the left</option>' +
                            '</select>' +
                    '</form>' +
                    '</td>' +
                    '<td>' +
                        '<form>' +
                            '<select name="holding" id="holding" class="form-control mb-3">' +
                                '<option value="Yes" selected>Yes</option>' +
                                '<option value="No">No</option>' +
                            '</select>' +
                        '</form>' +
                    '</td>' +
                    '<td>' +
                        '<input name="duration" id="duration" class="form-control" placeholder="Duration in seconds" type="number" step="0.01">' +
                    '</td>' +
                    '<td>' +
                        '<input name="breaktime" id="breaktime" class="form-control" placeholder="Breaktime in seconds" type="number" step="0.01" value="0" >' +
                    '</td>' +
                    '<td>' +
                        '<input name="repeat" id="repeat" class="form-control" placeholder="Repeat times" type="number" step="1">' +
                    '</td>' +
                    '<td>' +
                        '<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>' +
                    '</td>' +
                '</tr>';
        $("table").append(row);	
    });

    // Send form data to backend
    $(".save-act").click(function(){
        var empty = false;
        var selectinput = $("#actionTable").find("select");
        var forminput = $("#actionTable").find("input");
        selectinput.each(function(){
            // console.log($(this).val());
            // $(this).addClass("error");
            if($(this).val() == null){
                $(this).addClass("error");
                empty = true;
            }
        });
        forminput.each(function(){
            if(!$(this).val()){
                $(this).addClass("error");
                empty = true;
            }
        });
        if(empty){
            $("#message").css("z-index", 999);
            $("#error-fill-msg").show().delay(1300).fadeOut();
            setTimeout(function() {
                $("#message").css("z-index", -1);
            }, 1500);
            $("#btn-run-act").addClass("disabled");
            //$("#error-fill-msg").addClass("in").delay(1000).fadeOut();
        }
        else{
            var TableData = storeTable();
            TableData = $.toJSON(TableData);
            console.log(TableData);
            $.ajax({
                type: "POST",
                url: "{{ url_for('actions.getconfig')}}",
                data: "tabledata=" + TableData,
                success: function(){
                    $("#message").css("z-index", 999);
                    $("#saved-msg").show().delay(1300).fadeOut();
                    setTimeout(function() {
                        $("#message").css("z-index", -1);
                    }, 1500);
                    $("#btn-run-act").removeClass("disabled");
                }
            });            
            //$("#saved-msg").addClass("in").delay(1000).fadeOut();
        };
        
        
    });

    $("#btn-run-act").click(function(){
        $(this).addClass("disabled");
        $("#btn-stop-run").removeClass("disabled");
    });

    $("#btn-stop-run").click(function(){
        $(this).addClass("disabled");
        $("#btn-run-act").removeClass("disabled");
    });
        
    // Delete row on delete button click
	$(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
	    // $(".add-new").removeAttr("disabled");
    });

    $(document).on("change", "#actions", function(){
        var $dropdown = $(this);
        var key = $dropdown.val();
        console.log(key);
        switch(key) {
            case "mouse":
                var vals = ["Left-Click", "Right-Click"]
                var $target = $(this).parents('tr').find("[id='target']").get(0);
                if($target.nodeName !== "SELECT"){
                    console.log("Target is not SELECT. Replace target object.")
                    var $select = document.createElement("select");
                    var $parent = $(this).parents('tr:first').get(0);
                    $select.setAttribute("id", "target");
                    $select.setAttribute("class", "form-control mb-3");
                    $parent.childNodes[1].childNodes[0].replaceChild($select, $parent.childNodes[1].childNodes[0].childNodes[0]);
                }
                var $target = $(this).parents('tr').find("select[id='target']");
                $.each(vals, function(index, value){
                    $target.append("<option>" + value + "</option>");
                });
                enable_holding($(this));
                enable_duration($(this));
                break;

            case "mouse_scroll":
                var $target = $(this).parents('tr').find("[id='target']").get(0);
                //var $hold = $(this).parents('tr:first').find("option[value='No']");
                //var $hold_no = $hold.find("option[value='No']");
                // var $this_dur = $(this).parents('tr:first').find("input[id='duration']");
                if($target.nodeName !== "INPUT"){
                    console.log("Target is not INPUT. Replace target object.")
                    var $input = document.createElement("input");
                    var $parent = $(this).parents('tr:first').get(0);
                    $input.setAttribute("id", "target");
                    $input.setAttribute("type", "number");
                    $input.setAttribute("class", "form-control");
                    $input.setAttribute("placeholder", "Scrolling range");
                    $parent.childNodes[1].childNodes[0].replaceChild($input, $parent.childNodes[1].childNodes[0].childNodes[0]);
                }
                // $hold_no.prop('selected', true);
                disable_holding($(this));
                disable_duration($(this));
                break;

            case "key":
                var $target = $(this).parents('tr').find("[id='target']").get(0);
                if($target.nodeName !== "INPUT"){
                    console.log("Target is not INPUT. Replace target object.")
                    var $input = document.createElement("input");
                    var $parent = $(this).parents('tr:first').get(0);
                    $input.setAttribute("id", "target");
                    $input.setAttribute("type", "text");
                    $input.setAttribute("class", "form-control");
                    $input.setAttribute("placeholder", "Key to be pressed");
                    $parent.childNodes[1].childNodes[0].replaceChild($input, $parent.childNodes[1].childNodes[0].childNodes[0]);
                }
                enable_holding($(this));
                enable_duration($(this));
                break;
        }
    });

    $(document).on("change", "select", function(){
        $(this).removeClass("error");
    });

    $(document).on("change", "input", function(){
        //console.log($(this).val())
        if($(this).val().length !== 0){
            $(this).removeClass("error");
        }
    });

    $(document).on("change", "#holding", function(){
        var this_val = $(this).val();
        if(this_val == "No"){
            disable_duration($(this));
        }
        else{
            enable_duration($(this));
        }
    });
});
</script>

{% endblock %}